@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: #e91e63;
  --color-accent-bright: #f8bbd0;
  --color-foreground: black;
  --color-background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: #e91e63;
    --color-accent-bright: #f8bbd0;
    --color-foreground: white;
    --color-background: black;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
}

.fill-width, .fill {
  width: 100%
}

.fill-height, .fill {
  height: 100%
}

.pane {
  position: absolute;
}

.target {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
  width: 100%;
  margin-bottom: 2em;
  bottom: 0;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8em;
  justify-content: center;
  margin: auto;
}

.message {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  border-radius: 0.5em;
  background-color: var(--color-accent-bright);
  color: var(--color-accent);
  margin: 2em 0.5em 0.5em;
  padding: 0.5em;
  width: 75%;
}

.btn-action {
  text-align: center;
}

.btn-content {
  margin: auto;
  color: var(--color-accent);
}