@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: red;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: white;
  width: 100%;
  height: 100%;
}

.fill-width, .fill {
  width: 100%
}

.fill-height, .fill {
  height: 100%
}

.pane {
  position: absolute;
}

.target {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
  width: 100%;
  margin-bottom: 2em;
  bottom: 0;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8em;
  justify-content: center;
  margin: auto;
}

.message {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  border-radius: 0.5em;
  margin: 2em 0.5em 0.5em;
  padding: 0.5em;
  width: 75%;
}

.btn-action {
  text-align: center;
}

.btn-content {
  margin: auto;
  color: var(--color-accent);
}